@import "../../../userApp/_svandis-material.scss";

app-login {
    #login-title {
        color: #fff;
    }

    form {
        width: 100%;
    }

    .mat-figure {
        align-items: start !important;
    }

    .login-wrapper {
        margin-top: 20%;
        background-color: $primary;
    }
}