<div class="uk-inline">
    <a href="#" class="uk-button uk-button-default dropdown-filter" type="button">
        <span uk-icon="settings"></span>
    </a>

    <div class="uk-dropdown-grid uk-width-1-1@m dropdown-filter-style"
         uk-dropdown="pos: bottom-right"
         uk-dropdown="mode: click"
         uk-grid>
        <div class="wrapper-filter">
            <h4 class="filter-text" translate>NEWS_FEED.FILTER.TITLE</h4>
            <div class="uk-nav uk-dropdown-nav">
                <div class="uk-margin">
                    <form action="" class="filter-form">
                        <div class="uk-inline inline-search">
                            <span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: search"></span>
                            <input class="uk-input" type="text">
                        </div>
                        <div class="uk-margin">
                            <div uk-form-custom="target: > * > span:first-child" class="form-custom-style">
                                <select [(ngModel)]="selectedSettings.selectedAsset"
                                        name="assets-filter"
                                        id="assets-filter">
                                    <option value="">Asset</option>
                                    <option *ngFor="let option of settings.assets"
                                            [selected]="selectedSettings.selectedAsset == option"
                                            [value]="option.value">
                                        {{ option.label}}
                                    </option>
                                </select>
                                <button class="uk-button uk-button-default dropdown-filter-style-button"
                                        type="button"
                                        tabindex="-1">
                                    <span></span>
                                    <span uk-icon="icon: chevron-down"></span>
                                </button>
                            </div>
                        </div>

                        <div class="uk-margin">
                            <div uk-form-custom="target: > * > span:first-child" class="form-custom-style">
                                <select [(ngModel)]="selectedSettings.selectedRegion" name="region-filter">
                                    <option value="">Region</option>
                                    <option *ngFor="let option of settings.region"
                                            [selected]="selectedSettings.selectedRegion == option"
                                            [value]="option.value">
                                        {{ option.label}}
                                </select>
                                <button class="uk-button uk-button-default dropdown-filter-style-button"
                                        type="button"
                                        tabindex="-1">
                                    <span></span>
                                    <span uk-icon="icon: chevron-down"></span>
                                </button>
                            </div>
                        </div>
                    </form>
                    <div class="uk-margin filter-text">
                        <h5 class="filter-text">Activity field</h5>
                        <div class="uk-margin filter-text" *ngFor="let activity of settings.activityFields">
                            <label>
                                <input class="uk-checkbox"
                                       [value]="activity.selected"
                                       type="checkbox"
                                       [checked]="activity.selected">
                                {{activity.label}}
                            </label>
                        </div>
                    </div>
                    <div class="uk-margin filter-text uk-clearfix">
                        <h5 class="filter-text">Importance</h5>
                        <div class="uk-margin filter-text">
                            <button class="uk-button uk-button-default uk-float-left btn-importance"
                                    (click)="selectImportanceFilter(importance)"
                                    *ngFor="let importance of settings.importanceFilters">
                                {{importance.label}}
                            </button>
                        </div>
                    </div>
                    <div class="uk-margin filter-text uk-clearfix">
                        <h5 class="filter-text">Voting</h5>
                        <div class="uk-margin filter-text">
                            <button class="uk-button uk-button-default uk-float-left btn-importance"
                                    (click)="selectVoteFilter(vote)"
                                    *ngFor="let vote of settings.votingFilters">
                                {{vote.label}}
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>