<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <h4>User profile</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <mat-tab-group>
                <mat-tab label="Research Community Onboarding" *ngIf="showOnBoardingTour">
                    <app-rc-onboarding></app-rc-onboarding>
                </mat-tab>
                <mat-tab label="ETH Key Management" *ngIf="!showOnBoardingTour">
                <app-rc-key-management></app-rc-key-management>
                </mat-tab>
                <mat-tab label="Auth key">
                    <div class="container-fluid mt-5">
                        <div class="row">
                            <div class="col-sm-12">
                                <mat-form-field class="w-100">
                                    <input matInput
                                           [type]="isMasked ? 'password' : 'text'"
                                           placeholder="Worker Token"
                                           disabled
                                           [value]="secret">
                                    <mat-icon matSuffix (click)="isMasked = !isMasked">
                                        {{isMasked ? 'visibility' : 'visibility_off'}}
                                    </mat-icon>
                                    <mat-icon matSuffix (click)="regenerateToken()">replay</mat-icon>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                </mat-tab>
            </mat-tab-group>
        </div>
    </div>
</div>
