@import "../../svandis-material";
@import "../../colors";

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
.main-container {
  padding-bottom: 5em;
}
.header {
  height: 50px;
}
h3, h4 {
  color: #fff;
  font-weight: 500;
}

.group-title {
  color: rgb(108,108,151);
}
.section-title {
  color: #fff;
  display: block;
  font-size: 1.17em;
  margin-top: 2.1em;
  margin-bottom: 1em;
  font-weight: 500;
}

.chip-icon {
  width: 0;
  overflow: hidden;
  transition: width .1s ease-in;
}

.chip-icon.selected {
  width: 24px;
  transition: width .1s ease-in;
  margin-right: 5px;
}

/* chip list */

mat-form-field {
  width: 100%;
}
/deep/ mat-chip-list.mat-chip-list .mat-chip-list-wrapper {
  /*background-color: #2b2a49;*/
  background-color: rgb(59, 58, 92);
  padding: .5em;
}

/* chip */
mat-chip.mat-chip.mat-standard-chip {
  cursor: pointer;
  background-color: rgb(47, 46, 75);
}
mat-chip.mat-chip.mat-standard-chip.selected {
  background-color: $green-positive;

}
/* chip underline */
/deep/ .mat-form-field.mat-focused .mat-form-field-ripple {
  background-color: white;
}
/deep/ .mat-form-field-appearance-legacy .mat-form-field-underline {
  background-color: transparent;
}
/deep/ .mat-form-field .mat-form-field-ripple {
  background-color: transparent;
}

.button-blue {
  margin-top: 0.8em;
  font-weight: 400;
  background-color: $neon-blue;
  text-transform: uppercase;
}

/* prism there override */

/deep/ .token {
  &.tag .punctuation {
    color: #fff;
  }
  .tag {
    color: rgb(123, 177, 60);
    .punctuation {
      color: #fff;
    }
  }
  .attr-name {
    color: #fff;
  }
  .attr-value{
    word-break: break-all;
    white-space: normal;
    color: rgb(185, 72, 47);
  }
}