<div class="container-fluid mt-1">
    <div class="row">
        <div class="col-11">
            <h3>NewsFeed</h3>
        </div>
        <div class="col-1 d-flex justify-content-end align-items-center">

        </div>
        <mat-divider class="mb-4"></mat-divider>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="list" [ngClass]="{'col-6': selectedPost, 'col-12': !selectedPost}">
            <mat-card>
                <mat-card-content>
                    <div class="row d-flex align-items-end">
                        <div class="col-4 col-sm-12 col-md-4">
                            <app-news-feed-filter (tagSelect)="onTagFilter($event)"></app-news-feed-filter>
                        </div>
                        <div class="col-4 col-sm-12 col-md-4">
                            <app-search-form (termChange)="onSearch($event)" class="w-100"></app-search-form>
                        </div>
                        <div class="col-4 col-sm-12 col-md-4">
                            <app-news-feed-like-filter (periodSelect)="loadMostLikedPosts($event)"></app-news-feed-like-filter>
                        </div>
                    </div>
                    <app-feed-list [posts]="posts"
                                   [isLoading]="isLoading"
                                   [pageSize]="itemsPerPage"
                                   (selectPost)="selectedPost = $event"
                                   (pageChange)="loadPage($event)"
                                   *ngIf="isFeedListSmall">
                    </app-feed-list>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="col-6" *ngIf="selectedPost">
            <app-post-details [post]="selectedPost"
                              (postChange)="updatePost($event)"
                              (close)="selectedPost = null"></app-post-details>
        </div>
    </div>
</div>
