<table class="uk-table uk-table-striped" *ngIf="dataSet; else loading">
    <thead>
    <tr>
        <th *ngFor="let heading of displayedColumns"
            (click)="orderKey = heading.columnKey; isReversed = !isReversed">
            {{heading.columnName | translate }}
        </th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let data of dataSet.content | orderBy: orderKey:isReversed">
        <td *ngFor="let column of displayedColumns"
            [class]="getColumnCss(column)">
            {{data[column.columnKey]}}
        </td>
    </tr>
    </tbody>
</table>

<ng-template #loading>
    Loading...
</ng-template>