<table class="uk-table uk-table-striped" *ngIf="dataSet; else loading">
    <thead>
    <tr>
        <th *ngFor="let heading of displayedColumns"
            (click)="orderKey = heading.columnKey; isReversed = !isReversed">
            {{heading.columnName | translate }}
        </th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let data of dataSet.content | orderBy: orderKey:isReversed">
        <td *ngFor="let column of displayedColumns"
            [class]="getColumnCss(column)">
            <ng-template *ngIf="column.isList; else simpleItem">
                <span *ngFor="let item of data[column.columnKey]">{{item}}</span>
            </ng-template>
            <ng-template #simpleItem>
                {{data[column.columnKey]}}
            </ng-template>
        </td>
    </tr>
    </tbody>
</table>

<ng-template #loading>
    Loading...
</ng-template>