@import "../../colors";

#some-filter-thing a {
    padding: 0 16px;
    color: $text-grey;
    text-decoration: none;
    &.active {
        color: $neon-blue;
        text-decoration: underline;
    }
}

td.heading-column {
    color: $neon-blue-light;
    text-transform: uppercase;
}

app-alt-coin-screener {
    .mat-column-weekly_change, .mat-column-year_to_day_change, .mat-column-change {
        &.positive {
            color: $green-positive !important;
            &:after {
                content: "\f077";
                font: normal normal normal 14px/1 FontAwesome;
                padding-left: 3px;
                display: inline-block;
            }
        }

        &.negative {
            color: $red-negative !important;
            &:after {
                content: "\f078";
                font: normal normal normal 14px/1 FontAwesome;
                display: inline-block;
                padding-left: 3px;
            }
        }
    }
}

app-ico-screener {
    .mat-cell {
        word-break: break-word;
    }
}