<!--TODO: Search form (filters) temp disabled-->
<!--<div class="control-header-card-icon uk-flex-right uk-text-right">-->
<!--<app-search-form></app-search-form>-->
<!--<app-filter-button [(isOpened)]="isFilterOpened"></app-filter-button>-->
<!--</div>-->
<div class="container-fluid mt-1">
    <div class="row">
        <div class="col-sm-11">
            <h3 id="general-screener-title">{{title | translate}}</h3>
        </div>
        <div class="col-sm-1 d-flex justify-content-end align-items-center">
            <button (click)="toggleColumnOptions()" class="mat-icon-button pt-1">
                <mat-icon>settings</mat-icon>
            </button>
        </div>
        <mat-divider class="mb-4"></mat-divider>
    </div>
</div>

<!--TODO: Filter disabled , not in design-->
<!--<app-filter-table *ngIf="isFilterOpened" [filterService]="filterService"></app-filter-table>-->
<div class="container-fluid" *ngIf="dataSet">
    <div class="row">
        <app-data-table class="col-md" [dataSet]="dataSet"
                        [displayedColumns]="dataTableColumns"
                        (pageChange)="loadPage($event)"
                        [settings]="{filter: false}"></app-data-table>

        <div *ngIf="areColumnOptionsVisible" class="screener-column-manager col-lg-2">
            <app-screener-column-manager
                    [tableColumns]="availableDataTableColumns"
                    [selectedColumns]="dataTableColumns"
                    (tableColumnsChange)="onTableColumnChange($event)"
                    (close)="toggleColumnOptions()"></app-screener-column-manager>
        </div>
    </div>
</div>

