@import "../../colors";

#some-filter-thing a {
    padding: 0 16px;
    color: $text-grey;
    text-decoration: none;
    &.active {
        color: $neon-blue;
        text-decoration: underline;
    }
}

td.heading-column {
    color: $neon-blue-light;
    text-transform: uppercase;
}

app-alt-coin-screener {
    .mat-column-weekly_change, .mat-column-change {
        &.positive {
            color: $green-positive !important;
        }

        &.negative {
            color: $red-negative !important;
        }
    }
}

app-ico-screener {
    .mat-cell {
        word-break: break-word;
    }
}