@import "../../colors";

#some-filter-thing a {
    padding: 0 16px;
    color: $text-grey;
    text-decoration: none;
    &.active {
        color: $neon-blue;
        text-decoration: underline;
    }
}

td.heading-column {
    color: $neon-blue-light;
    text-transform: uppercase;
}

td.positive-column {
    color: $green-positive;
}

td.negative-column {
    color: $red-negative;
}