.centered-item {

  display: flex;
  justify-content: center;
}

.limited-width {
  width: 60%;
}

.complete-width {
  width: 100%;
}

.mat-card:hover {
  background-color: #3b3a5c;
}

.mat-card:active {
  background-color: #3b3a5c;
}

.mat-card {
  border-color: #3b3a5c;
  margin: 3em;
  width: calc(100% - 30px);
  height: calc(100%);
}

.add-text-color {
  color: #246ccf;
}

.completed-text-color {
  color: #45b53f;
}

.grey-text-color {
  color: #7d7db1;
}

.image-card-width {
  width:40%;
}

.text-card-width {
  width:60%;
}

.divide-horizontal-20{
  display:inline-block;
  width: 20%;
}

.divide-horizontal-60{
  display:inline-block;
  width: 60%;
}

.divide-horizontal-10{
   display:inline-block;
   width: 10%;
 }

.highlight-button{
  background-color: #45b53f;
  color: #ffffff;
}

.unselected-button{

}