<ng-template *ngIf="!inline; else inlineInput">
    <!--<form #form="ngForm"-->
    <!--(submit)="onSubmit(form)"-->
    <!--class="uk-search uk-search-default">-->
    <!--<button type="submit" class="uk-search-icon-flip" uk-search-icon></button>-->
    <!--<input class="uk-search-input" type="search" [placeholder]="placeholder">-->
    <!--</form>-->
</ng-template>

<ng-template #inlineInput>
    <mat-form-field class="w-100" color="accent">
        <mat-chip-list #chipList>
            <mat-chip *ngFor="let term of searchTerms"
                      [selectable]="true"
                      [removable]="true"
                      (removed)="removeTerm(term)">
                {{term.value}}
                <mat-icon matChipRemove>cancel</mat-icon>
            </mat-chip>
            <input placeholder="Search terms:"
                   [matChipInputFor]="chipList"
                   [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                   (matChipInputTokenEnd)="addTerm($event)">
            <mat-icon matPrefix>search</mat-icon>
        </mat-chip-list>
    </mat-form-field>
</ng-template>

