@import "../../../../../node_modules/ngx-chips/core/styles/core/_core.scss";

form.uk-search-default {
    width: 250px
}

.inline-search {
    width: 100%;
}

// Input tag theme

$foundation-primary: rgba(255, 251, 251, 0);
$foundation-primary-dark: darken($foundation-primary, 10%);

// this is the container's theme
$foundation-theme: (
        container-border-bottom: none,
);

// this is the tag's theme
$foundation-tag-theme: (
        background: $foundation-primary,
        container-border-bottom: none,
        background-focused: $foundation-primary-dark,
        background-active: $foundation-primary-dark,
        background-hover: $foundation-primary,
        color: #fff,
        color-hover: #fff,
        box-shadow: none,
        border-radius: 2px
);

// this is the delete icon's theme
$foundation-icon-theme: (
        fill: #fff,
        fill-focus: #eee,
        transition: all 0.35s
);

// apply theme to the container
::ng-deep .ng2-tag-input.foundation {
    @include tag-input-theme($foundation-theme);
    background-color: #333333;
    color: rgba(255, 255, 255, 0.7);
    background-clip: padding-box;
    border: 1px solid #333333 !important;

    & input {
        background-color: rgba(255, 255, 255, 0) !important;
        color: rgba(255, 255, 255, 0.7);
        background-clip: padding-box;
        border-color: transparent;
        max-width: 150px;
    }
}

// apply theme to the tags
::ng-deep .ng2-tag-input.foundation tag {
    @include tag-theme($foundation-tag-theme);
}

// apply theme to the delete icon
::ng-deep .ng2-tag-input.foundation tag delete-icon {
    @include icon-theme($foundation-icon-theme);
}