<mat-toolbar color="primary" class="mat-elevation-z2">
    <div class="container-fluid">
        <div class="row d-flex align-items-center">
            <div class="col-4">
                <ng-container *ngIf="!isMobile; else burger">
                    <img src="assets/image/svandis-logo.png" alt="">
                </ng-container>
                <ng-template #burger>
                    <button mat-icon-button (click)="sidebarOpen = !sidebarOpen">
                        <mat-icon>menu</mat-icon>
                    </button>
                    <img src="assets/image/svandis-logo.png" alt="">
                </ng-template>
            </div>
            <div class="col-6">
                <button mat-button *ngFor="let item of items"
                        [routerLinkActive]="'active'"
                        [routerLink]="item.link">
                    <mat-icon>{{item.icon}}</mat-icon>
                    {{item.title | translate}}
                </button>
                <app-eth-connection-prompt></app-eth-connection-prompt>
            </div>
            <div class="col-2 text-right">
                <button mat-icon-button [matMenuTriggerFor]="menu">
                    <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                    <a mat-menu-item routerLink="../admin/posts" *ngIf="isAdmin()">
                        <mat-icon>person</mat-icon>
                        <span>Admin Panel</span>
                    </a>
                    <a mat-menu-item routerLink="profile">
                        <mat-icon>person</mat-icon>
                        <span>Profile</span>
                    </a>
                    <a mat-menu-item (click)="logout()">
                        <mat-icon>exit_to_app</mat-icon>
                        <span>Log out</span>
                    </a>
                </mat-menu>
            </div>
        </div>

    </div>
</mat-toolbar>