<div *ngIf="posts; else listLoading">

    <table id="news-feed-list"
           class="w-100"
           mat-table
           [dataSource]="posts.content"
           *ngIf="posts.content.length > 0; else noResults">

        <tbody>
        <ng-container matColumnDef="published_at">
            <th mat-header-cell *matHeaderCellDef>Published</th>
            <td mat-cell *matCellDef="let feed">
                <span class="news-feed-header line-breaker">{{getPublishedAt(feed.published_at)}}</span>
            </td>
        </ng-container>
        <ng-container matColumnDef="title">
            <th mat-header-cell *matHeaderCellDef> Title</th>
            <td mat-cell *matCellDef="let feed">
                <span class="news-feed-header py-1">
                        <span [class]="getSentimentCssClass(feed) + ' news-feed-header font-weight-light'">
                            {{feed.title | truncate: [60, '...']}}
                        </span>
                    <app-tag-tool [post]="feed" [canEdit]="false"></app-tag-tool>
                </span>
                <p>
                    <small>Source: {{getSource(feed.source)}}</small>
                </p>
            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"
            (click)="selectPost.emit(row); selectedRow = row"
            [ngClass]="{'selected' : selectedRow && selectedRow.id === row.id}"></tr>
        </tbody>
    </table>
    <mat-paginator [length]="posts.total"
                   [pageSize]="20"
                   (page)="onPageChange($event)"
                   [pageIndex]="posts.page_request.page - pageIndexSubtractor">
    </mat-paginator>

    <ng-template #noResults>
        <span translate>ERROR.404.RESULTS</span>
    </ng-template>
</div>

<ng-template #listLoading>
    <span translate>APP.LOADING</span>
</ng-template>