@import "../../../colors";

app-feed-list {
    margin-top: 0;
    display: block;

    .news-feed-header {
        text-decoration: none;
    }

    .news-feed-header-date {
        color: #C6C5D3;
        font-size: small;
    }

    .news-feed-tr {
        td {
            border-bottom: 1px solid #302f43;
            border-spacing: 0;
        }
    }

    .icon-wrapper mat-icon {
        background-color: transparent
    }

    .sentiment, .news-feed-header {
        color: #C6C5D3;
        &.sentiment_very_dissatisfied {
            color: $red-orange;
        }
        &.sentiment_very_satisfied {
            color: $green-light;
        }
    }

    .mat-column-title {
        p {
            margin: 0;
            small {
                font-weight: lighter;
                color: grey;
            }
        }
    }

    td.py-2 {
        width: 10%;
    }

    .mat-row {
        cursor: pointer;
    }

    .line-breaker {
        white-space: pre-line;
    }
    .selected {
        background-color: rgba(69, 181, 63, 0.13);
    }

    tr.mat-row:hover td .liked-post.like-button, .liked-post.like-button {
        color: rgba(158,157,184,0.8);
    }

    .like-button {
        color: rgba(158,157,184,0.01);
    }

    tr.mat-row:hover td .like-button {
        color: rgba(158,157,184,0.1);
    }

    tr.mat-row:hover td .like-button:hover {
        color: rgba(158,157,184,0.8);
    }
}
