<div class="search-results"
     *ngIf="posts; else listLoading"
     infiniteScroll
     [infiniteScrollDistance]="2"
     [infiniteScrollThrottle]="50"
     (scrolled)="onScroll()">
    <div *ngFor="let feed of posts.content | listReverse">
        <div class="uk-panel">
            <!--<img class="uk-align-center uk-align-right@m uk-margin-remove-adjacent"-->
            <!--src="" width="150" height="150" alt="Example image">-->
            <h5>{{feed.title}}</h5>
            <ul class="label-tag" *ngIf="feed.tags">
                <!--<li><span uk-icon="triangle-up"></span>Important</li>-->
                <li>{{feed.createdAt | date: 'shortTime'}}</li>
                <li *ngFor="let tag of feed.tags" class="dotted">{{tag.title}}</li>
            </ul>
            <p>{{feed.content | truncate:[350, '...']}}</p>
            <a [href]="feed.url" class="continue-link" target="_blank">Continue read </a>
        </div>
        <hr>
    </div>
</div>

<ng-template #listLoading>
    <span translate>APP.LOADING</span>
</ng-template>