<div class="data-table-container" *ngIf="dataSet; else loading">
    <mat-table #table [dataSource]="dataSource" matSort>

        <!-- Position Column -->
        <ng-container *ngFor="let column of displayedColumns" matColumnDef="{{column.columnKey}}">
            <mat-header-cell *matHeaderCellDef mat-sort-header="{{column.columnKey}}">
                {{ column.columnName | translate}}
            </mat-header-cell>
            <mat-cell *matCellDef="let element">
                <ng-container *ngIf="column.isDate; else columnString">
                    {{element[column.columnKey] | date: 'shortTime' }}
                </ng-container>
                <ng-template #columnString>
                    {{element[column.columnKey]}}
                </ng-template>
            </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="getColumnsToDisplay()"></mat-header-row>
        <mat-row *matRowDef="let row; columns: getColumnsToDisplay();" (click)="rowSelect(row)"></mat-row>
    </mat-table>


    <!--<mat-paginator [length]="pageable.total"-->
    <!--*ngIf="pageable"-->
    <!--[pageSize]="pageable.pageRequest.size"-->
    <!--(page)="onPageChange($event)"-->
    <!--[pageIndex]="pageable.pageRequest.page - pageIndexSubtractor"-->
    <!--[pageSizeOptions]="[5, 10, 25, 100]">-->
    <!--</mat-paginator>-->
</div>
<ng-template #loading>
    {{ 'APP.LOADING'| translate }}
</ng-template>