<div class="data-table-container" *ngIf="dataSet; else loading">
    <div class="filter-container">
        <mat-form-field>
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
        </mat-form-field>
    </div>
    <mat-table #table [dataSource]="dataSource" matSort>

        <!-- Position Column -->
        <ng-container *ngFor="let column of displayedColumns; let first = first" matColumnDef="{{column.columnKey}}">
            <mat-header-cell *matHeaderCellDef mat-sort-header="{{column.columnKey}}"
                             [ngClass]="first ? 'header-first' : ''">
                {{ column.columnName | translate}}
            </mat-header-cell>
            <mat-cell *matCellDef="let element">
                <ng-container *ngIf="column.isDate; else columnString">
                    {{element[column.columnKey] | date: 'shortTime' }}
                </ng-container>
                <ng-template #columnString>
                    {{element[column.columnKey]}}
                </ng-template>
            </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="getColumnsToDisplay()"></mat-header-row>
        <mat-row *matRowDef="let row; columns: getColumnsToDisplay();" (click)="rowSelect(row)"></mat-row>
    </mat-table>


    <mat-paginator [length]="dataSet.total"
                   *ngIf="pagination"
                   [pageSize]="paginationOptions.itemsPerPage"
                   (page)="onPageChange($event)"
                   [pageIndex]="dataSet.page_request.page - pageIndexSubtractor">
    </mat-paginator>
</div>
<ng-template #loading>
    {{ 'APP.LOADING'| translate }}
</ng-template>