$yellow-light: #ffe119;
$green-light: #00d982;
$green-positive: #00DA8A;
$violet: #923dff;
$red-orange: #e65542;
$red-negative: #FF4250;
$text-grey: #999;
$neon-blue: #1e87f0;
$neon-blue-light: #39B7F9;
$default-border: #525252;
$background-highlight: #333333;

//// Material theme colors
//$svandis-bg: #232438;
//$svandis-side-bg: #1E202F;
//$svandis-card-bg: #2F2E4B;
//$svandis-toolbar-bg: #2F2E4B;