$app-background-color: #1c1c1c;
$app-header-color: #212121;

app-root {
    .app-wrapper {
        background: #1c1c1c;
        width: 100%;
        height: 100%;
    }

    header {
        background: $app-header-color;
    }

    form.ng-touched {
        input.ng-invalid {
            color: #b50500;
            border-color: #b50500;
        }
    }

    .uk-card-secondary.uk-card-body .uk-checkbox:checked,
    .uk-card-secondary > :not([class*='uk-card-media']) .uk-checkbox:checked {
        background-color: #4da2f1 !important;
        border-color: #4da2f1 !important;
    }
}
