<table class="uk-table uk-table-small">
    <tbody>
    <ng-container *ngFor="let tableRow of tabledFilters">
        <tr *ngIf="tableRow">
            <td *ngFor="let column of tableRow">
                <div class="uk-form-horizontal">
                    <label class="uk-form-label" for="form-label-{{column.label}}">
                        {{column.label}}
                    </label>
                    <ng-container [ngSwitch]="column.type">
                        <ng-container *ngSwitchCase="filterTypes.SELECT">
                            <div class="uk-form-controls">
                                <select class="uk-select" id="form-label-{{column.label}}">
                                    <option *ngFor="let option of column.options" [selected]="option.selected">
                                        {{option.label}}
                                    </option>
                                </select>
                            </div>
                        </ng-container>
                        <ng-container *ngSwitchCase="filterTypes.SWITCH">
                            <div>
                                <button *ngFor="let option of column.options"
                                        (click)="selectOption(option, column.options)"
                                        [class]="getButtonCssClass(option)">
                                    {{option.label}}
                                </button>
                            </div>
                        </ng-container>
                    </ng-container>
                </div>
            </td>
        </tr>
    </ng-container>
    </tbody>
</table>