<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <h3>Tag group list</h3>
        </div>
    </div>
</div>

<app-data-table *ngIf="getDataSet() | async as groups; else loading"
                [dataSet]="groups"
                (rowSelected)="edit($event)"
                [settings]="{filter: false}"
                [displayedColumns]="columns">
</app-data-table>
<ng-template #loading>
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</ng-template>
<mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>
<button mat-button
        mat-fab
        (click)="create()"
        class="fab-fixed-bottom-right"
        matTooltip="Create new group">
    <mat-icon>add</mat-icon>
</button>