@import '../../_colors.scss';

app-data-table {
    th {
        text-transform: none !important;
    }
    td.heading-column {
        color: $neon-blue-light;
        text-transform: uppercase;
    }
    td.positive-column {
        color: $green-positive;
    }
    td.negative-column {
        color: $red-negative;
    }
}