<div class="data-table-container">
    <div class="filter-container" *ngIf="settings.filter">
        <mat-form-field>
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
        </mat-form-field>
    </div>
    <mat-table #table [dataSource]="dataSource" matSort>
        <ng-container *ngFor="let column of displayedColumns; let first = first" matColumnDef="{{column.columnKey}}">
            <mat-header-cell *matHeaderCellDef
                             mat-sort-header
                             [ngClass]="first ? 'header-first ' + column.columnClass : '' + column.columnClass">
                {{ column.columnName | translate}}
            </mat-header-cell>
            <mat-cell *matCellDef="let element"
                      [ngClass]="isNegative(element[column.columnKey]) ? 'negative' : 'positive'">
                <ng-container>{{stringifyColumnValue(element, column)}}</ng-container>
                <!--<ng-container *ngIf="column.isDate; else columnString">-->
                    <!--{{element[column.columnKey] | date: 'shortTime' }}-->
                <!--</ng-container>-->
                <!--<ng-template #columnString>-->
                    <!--{{element[column.columnKey]}}-->
                <!--</ng-template>-->
            </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="getColumnsToDisplay()"></mat-header-row>
        <mat-row *matRowDef="let row; columns: getColumnsToDisplay();" (click)="rowSelect(row)"></mat-row>
    </mat-table>


    <mat-paginator [length]="dataSet ? dataSet.total : 100"
                   *ngIf="settings.pagination"
                   [pageSize]="settings.paginationOptions.itemsPerPage"
                   [pageIndex]="(dataSet ? dataSet.page_request.page : 1) - settings.pageIndexSubtractor">
    </mat-paginator>
</div>
<ng-template #loading>
    {{ 'APP.LOADING'| translate }}
</ng-template>