app-navigation {
    .uk-navbar-container.uk-navbar.navbar-header {
        background: none;
    }
    .uk-active a {
        color: #fff !important;
    }
    .logo {
        margin-right: 20px;
        padding-left: 0;
    }
    .image-menu {
        background-repeat: no-repeat;
        background-position: 50% 0;
    }
    .dashboard {
        background-image: url("../../../assets/image/dashboard.png");
    }
    .iso {
        background-image: url("../../../assets/image/ISo.png");
    }
    .alt {
        background-image: url("../../../assets/image/Alt.png");
    }
    .index {
        background-image: url("../../../assets/image/index.png");
    }
    .visualization {
        background-image: url("../../../assets/image/visual.png");
    }
    .market {
        background-image: url("../../../assets/image/market.png");
    }
    .data {
        background-image: url("../../../assets/image/data.png");
    }
    .newsfeed {
        background-image: url("../../../assets/image/newsfeed.png");
    }
    .sun {
        background-image: url("../../../assets/image/sun.png");
    }
    .logout {
        background-image: url("../../../assets/image/logout.png");
        margin-left: 20px;
    }
    .sun,
    .logout {
        width: 40px;
        //height: 40px !important;
        padding-top: 5px;
        background-color: #2f2f2f;
        background-position: 50% 50%;
    }
    .uk-navbar-nav > li > .sun,
    .uk-navbar-nav > li > .logout{
        height: 40px
    }
    .left-nav-bar {
        height: 54px;
        li a {
            @extend .left-nav-bar;
            padding: 30px 8px 8px 8px;
        }
    }
    .uk-tab::before {
        border: none;
    }
    .left-nav .left-nav-bar .uk-tab > .uk-active > a {
        border-color: #1e87f0;
    }
    .right-nav-bar {
        height: 36px;
    }
    .uk-card-secondary.uk-card-body .uk-tab > .uk-active > a,
    .uk-card-secondary > :not([class*='uk-card-media']) .uk-tab > .uk-active > a {
        border-color: #1e87f0;
    }
    .uk-navbar-nav > li > a {
        text-transform: none;
    }

    .uk-navbar-container.uk-navbar-transparent.subnav-nav {
        width: 100%;
    }
}