@import "../../colors";

app-tag-tool {
    .selected.warning {
        color: $yellow-light;
    }
    .selected.arrow_upward {
        color: $green-light;
    }
    .selected.offline_bolt {
        color: $violet;
    }
    .selected.arrow_downward {
        color: $red-orange;
    }
    span.selected {
        color: #fff;
        text-decoration: underline;
    }
    .icon-wrapper mat-icon {
        margin: 0 3px;
    }
}