@import "../../colors";

app-tag-tool {
    span.selected {
        color: #fff;
        text-decoration: underline;
    }
    .icon-wrapper mat-icon {
        margin: 0 3px;
    }
}

.selected.warning {
    color: $yellow-light !important;
}

.selected.arrow_upward {
    color: $green-light !important;
}

.selected.offline_bolt {
    color: $violet !important;
}

.selected.arrow_downward {
    color: $red-orange !important;
}