@import '../../svandis-material';

.url-list {
    list-style-type: none;
    padding: 0;

    li a {
      color: #1D83F3;
      text-decoration: none;
    }
}

.mat-card {
    .mat-card-title {
        font-size: small;
        color: #7E7EAD;
    }
}

.links-counter {
    font-size: xx-large;
    font-weight: lighter;
}

h3 small {
    font-weight: lighter;
    position: absolute;
    top: 0.8em;
    color: mat-color($svandis-user-app-accent);
    padding-left: 0.5em;
}

