<div class="container-fluid mt-1">
    <div class="row">
        <div class="col-sm-12">
            <h3>
                DataMining App
                <span *ngIf="isWorkerRunning()">
                    <small>running ... </small>
                    <mat-progress-bar mode="buffer" color="accent"></mat-progress-bar>
                </span>
            </h3>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <mat-divider class="mb-4"></mat-divider>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row justify-content-md-center mb-4">
        <div class="col col-lg-9">
            <mat-card class="p-3">
                <mat-card-content>
                    <p>
                        DISCLAIMER
                    </p>
                    <p>
                        THIS BETA DATAMINING APP IS PROVIDED TO YOU "AS IS" WITHOUT WARRANTY OF ANY KIND, EITHER EXPRESSED OR IMPLIED, INCLUDING, BUT NOT LIMITED TO, ANY WARRANTY OF MERCHANTABILITY, NON-INFRINGEMENT OR FITNESS FOR A PARTICULAR PURPOSE. THE USE OF THE BETA DATAMINING APP IS ENTIRELY AT YOUR OWN RISK AND WE EXPRESSLY REPRESENT THAT THE BETA DATAMINING APP IS NOT A FINAL PRODUCT AND, AS SUCH, MAY CONTAIN VARIOUS ERRORS, DEFECTS AND MAY BE UNSTABLE. THE BETA DATAMINING APP IS MADE AVAILABLE FOR THE SOLE PURPOSE OF PROVIDING SVANDIS OÜ WITH FEEDBACK ON QUALITY, USABILITY, PERFORMANCE AND THE IDENTIFICATION OF DEFECTS. USER IS ADVISED TO SAFEGUARD IMPORTANT DATA, TO USE CAUTION AND NOT TO RELY IN ANY WAY ON THE CORRECT FUNCTIONING OR PERFORMANCE OF THE BETA DATAMINING APP AND/OR ACCOMPANYING MATERIALS.
                    </p>

                    <mat-checkbox class="px-4"
                                  [(ngModel)]="hasAcceptedTerms">
                        I have read and agree with the Terms and Conditions
                    </mat-checkbox>

                    <mat-divider [inset]="true" class="my-3"></mat-divider>

                    <div class="container">
                        <div class="row">
                            <div class="col col-lg-6 text-left px-0">
                                Using DataMining App
                            </div>
                            <div class="col col-lg-6 text-right px-0">
                                <mat-slide-toggle (toggleChange)="toggleUseMiningApp()"
                                                  color="accent"
                                                  [ngModel]="isRunning"
                                                  [disabled]="!hasAcceptedTerms">
                                </mat-slide-toggle>
                            </div>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col col-lg-3">
            <mat-card class="p-3">
                <mat-card-title>Total Crawled URLs</mat-card-title>
                <mat-card-content>
                    <h3 class="links-counter my-4" *ngIf="(getStats() | async) as posts">
                        {{ posts.length }}
                    </h3>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="col col-lg-6">
            <mat-card class="p-3">
                <mat-card-title>Recent Crawled URLs</mat-card-title>
                <mat-card-content>
                    <ul class="url-list">
                        <li class="lst-none" *ngFor="let post of (getStats() | async | slice:0:20)">
                            <a href="{{post.url}}">{{post.url}}</a>
                        </li>
                    </ul>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>