<div class="uk-container uk-container-large">
    <div class="uk-child-width-1-1@s" uk-grid>
        <nav class="uk-navbar-container navbar-header" uk-navbar>
            <div class="uk-navbar-left">
                <a href="#" class="logo uk-navbar-item">
                    <img src="../../../../assets/image/logo.png" alt="">
                </a>
                <ul class="uk-navbar-nav uk-tab left-nav-bar" uk-tab>
                    <li *ngFor="let item of navItems">
                        <a [routerLink]="[item.path]"
                           [routerLinkActive]="'nav-active'"
                           [routerLinkActiveOptions]="{exact:true}"
                           [class]="'image-menu ' + item.cssClass">
                            {{item.text | translate}}
                        </a>
                    </li>
                </ul>
            </div>
            <div class="uk-navbar-right">
                <ul class="uk-navbar-nav">
                    <li>
                        <a href="#" uk-icon="icon: user; ratio: 1.5" [routerLink]="['/user/profile']">

                        </a>
                    </li>
                    <li>
                        <a href="#"
                           *ngIf="isLoggedIn()"
                           (click)="logout()"
                           uk-icon="icon: sign-out; ratio: 1.5"></a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</div>