$global-link-color: #DA7D02;

@mixin hook-card() {
  color: #000;
}

@import "~nouislider/distribute/nouislider.min.css";
@import "app/svandis-material";
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/grid";
@import "../node_modules/bootstrap/scss/utilities";
@import "../node_modules/bootstrap/scss/images";
@import "~material-icons/css/material-icons";

html {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  background: $primary;
  color: #666;
}

body {
  margin: 0;
}

iframe {
  margin-bottom: 30%;
}