<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<div class="container-fluid mt-5">
    <div class="row justify-content-center">
        <div class="col-12">
            <ng-container *ngFor="let news of getPostStream() | async">
                <div class="element-row" (click)="expand(news.id)" [class.expanded]="expandedNews[news.id]">
                    <div class="row align-items-center">
                        <div class="col-sm-12 col-md-3">
                            <span class="news-published-at">{{news.publishedAt | date:'dd-MM-yy hh:mm a'}}</span>
                        </div>
                        <div class="col-sm-12 col-md-9">
                            <span class="news-title">
                                {{news.title}}
                                <i *ngFor="let icon of getIcon(news.tags)" class="material-icons {{icon}}">{{icon}}</i>
                            </span>
                            <br>
                            <span class="news-origin">{{ news.source | domain }}</span>
                            <div class="news-content">
                                <div class="news-content-value">
                                    {{news.content}}
                                </div>
                                <div class="news-tags">
                                    <span class="tag" *ngFor="let tag of news.tags">#{{tag.title}}</span>
                                </div>
                                <div class="news-href">
                                    <a href="{{news.url}}" target="_blank">READ ORIGINAL</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-container>
        </div>
    </div>
    <div class="row mt-4" (click)="getNewsStream()">
        <div class="col-12 text-center button-container">
            <button type="button" class="btn btn-outline-primary">Load More</button>
        </div>
    </div>
</div>
