// TODO: Import required packages from bootstrap or use just the grid
@import "~bootstrap/dist/css/bootstrap.min.css";

$color-grey: rgb(161, 161, 161);

html {
    font-family: -apple-system, Arial, sans-serif;
    font-size: 16px;
    font-weight: normal;
    line-height: 1.5;
    -webkit-text-size-adjust: 100%;
}

.element-row > div {
    padding-top: 0.75em;
    padding-bottom: 0.75em;
}

.element-row {
    border-bottom: 1px solid rgb(224, 224, 224);
}

.element-row:first-child {
    border-top: 1px solid rgb(224, 224, 224);
}

.element-row .news-content {
    transition: max-height 1s cubic-bezier(0, 1, 0, 1);
    max-height: 0;
    border: 0;
    overflow: hidden;
}

.element-row.expanded .news-content {
    transition: max-height 1s ease-in-out;
    max-height: 3000px;

}

.news-title {
    font-weight: 600;
}

.news-published-at {
    color: $color-grey;
    font-weight: 300;
}

.news-origin {
    color: $color-grey;
    font-weight: 300;
}

.news-content-value {
    color: rgb(85, 85, 85);
    margin-bottom: .5em;
}

.news-tags {
    display: flex;
    font-weight: 600;
    color: rgb(57, 73, 171);
    margin-bottom: .5em;
    flex-wrap: wrap;

    .tag {
        margin-right: .1em;

        &:last-child {
            margin-right: 0;
        }
    }
}

.news-href {
    display: block;
    color: rgb(214, 214, 214);
    text-decoration: underline;
    margin-bottom: .75em;
}

.date-container {
    white-space: nowrap;
}

.arrow_upward {
    color: #00d982;
}

.arrow_downward {
    color: #e65542;
}

.warning {
    color: #ffe119
}

.button-container {
    padding-top: 0.75em;
    padding-bottom: 0.75em;
}

.row-no-padding {
    [class*="col-"] {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
}

.icon-col {
    min-width: 72px;
}

.svan-logo {
    height: 30px;
}

.dark-theme {
    .news-title {
        color: #fff;
    }

    .news-origin, .news-published-at, .powered-by-svandis {
        color: #e4e4e4
    }
}

.light-theme {
    .news-title {
        color: #000;
    }

    .news-origin, .news-published-at, .powered-by-svandis {
        color: #6a6a6a
    }
}
@media (min-width: 768px) {
    .icon-col {
        text-align: right;
    }
}

@media (min-width: 576px) {
    .icon-col {
        text-align: right;
    }
}

@media (min-width: 1200px) {
    .icon-col {
        text-align: center;
    }
}
